a {
  text-decoration: none;
}

h1.title {
  margin-bottom: 1em;
  margin-top: 1em;

  line-height: 1.25;
}

.author-container {
  display: inline-block;
  vertical-align: top;
  width: 14em;
}

.author {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
}

.affilation {
  font-style: italic;
  margin-bottom: 0;
}

h1, h2, h3 {
  line-height: 1.25;
  margin-bottom: 1em;

}

}
h1, h2, h3, h4, h5, h6 {
  padding-top: 1em;
}

.author a:not(:hover),
.affilation a:not(:hover),
h1 a:not(:hover),
h2 a:not(:hover),
h3 a:not(:hover),
h4 a:not(:hover),
h5 a:not(:hover),
h6 a:not(:hover) {
  color: black;
}


.csl-entry {
  margin-bottom: .6em;
  text-indent: -1.5em;
  padding-left: 1.5em;
}

.github-button {
  background-color: #757575;
  font-size: .7em;
}

.pdf-button {
  background-color: #429786;
  font-size: .7em;
}

span.citation {
  font-weight: normal;
}

figure img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

figcaption {
  font-size: .85em;
}

#TOC {
  border: 1px solid var(--nc-bg-3);
}

#TOC li {
  list-style-type: none;
}

#TOC .toc-content-inner > ul > li {
  font-weight: bold;
}

#TOC .toc-content-inner > ul > li ul {
  font-weight: normal;
}


#toc-collapsible {
  display: none;
}

.toc-toggle-label {
  display: block;

  padding: 0.5rem;
  padding-left: 1rem;

  background: var(--nc-bg-2);

  cursor: pointer;
  transition: all 0.25s ease-out;
}

.toc-toggle-label:hover {
  background-color: var(--nc-bg-3);
}


.toc-toggle-label::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toc-toggle:checked + .toc-toggle-label::before {
  transform: rotate(90deg) translateX(-3px);
}

.toc-toggle:checked + .toc-toggle-label {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.toc-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;

  background-color: var(--nc-bg-2);
}


.toc-toggle:checked + .toc-toggle-label + .toc-content {
  max-height: 100vh;
}
