a {
  text-decoration: none;
}

h1.title {
  margin-bottom: 1em;
  margin-top: 1em;

  line-height: 1.25;
}

.author-container {
  display: inline-block;
  vertical-align: top;
  width: 14em;
}

.author {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
}

.affilation {
  font-style: italic;
  margin-bottom: 0;
}

h1, h2, h3 {
  line-height: 1.25;
  margin-bottom: 1em;

}

}
h1, h2, h3, h4, h5, h6 {
  padding-top: 1em;
}

.author a:not(:hover),
.affilation a:not(:hover),
h1 a:not(:hover),
h2 a:not(:hover),
h3 a:not(:hover),
h4 a:not(:hover),
h5 a:not(:hover),
h6 a:not(:hover) {
  color: black;
}


.csl-entry {
  margin-bottom: .6em;
  text-indent: -1.5em;
  padding-left: 1.5em;
}

.github-button {
  background-color: #757575;
  font-size: .7em;
}

.pdf-button {
  background-color: #429786;
  font-size: .7em;
}

span.citation {
  font-weight: normal;
}

figure img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

figcaption {
  font-size: .85em;
}
