name: GitHub Pages

on:
  push:
    branches:
      - main  # Set a branch name to trigger deployment
  pull_request:

# allow deploy step to write to the repository
permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    container: ghcr.io/plonerma/pandoc-latex-python3:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build Articles
        id: build_articles
        uses: ./ # Uses an action in the root directory
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: dist # The folder the action should deploy.
